<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz</title>
    <link rel="stylesheet" href="quiz.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="heading">Welcome to the Quiz</h1>
      <form action="/nextquestion" method="post">
        <div th:each="data: ${codeData}">
          <div class="question">
            <p th:text="${data.title}"></p>
          </div>
          <div class="options">
            <div th:if="${data.optiona}!=null">
            <label
              th:for="${'optionA' + index}"
              th:text="${data.optiona}"
            ></label>
            <input
              type="radio"
              th:id="${'optionA' + index}"
              name="answer"
              th:value="${data.optiona}"
            />
          </div>
            <br />
            <div th:if="${data.optionb}!=null">
            <label
              th:for="${'optionB' + index}"
              th:text="${data.optionb}"
            ></label>
            <input
              type="radio"
              th:id="${'optionB' + index}"
              name="answer"
              th:value="${data.optionb}"
            />
          </div>
            <br />
            <div th:if="${data.optionc}!=null">
            <label
              th:for="${'optionC' + index}"
              th:text="${data.optionc}"
            ></label>
            <input
              type="radio"
              th:id="${'optionC' + index}"
              name="answer"
              th:value="${data.optionc}"
            />
          </div>
            <br />
            <div th:if="${data.optiond}!=null">
            <label
              th:for="${'optionD' + index}"
              th:text="${data.optiond}"
            ></label>
            <input
              type="radio"
              th:id="${'optionD' + index}"
              name="answer"
              th:value="${data.optiond}"
            />
          </div>
            <br />
          </div>
          <div class="difficulty">
            <label for="difficulty">Difficulty:</label>
            <div th:if="${data.level=='Easy'}">
              <label
                style="color: rgb(0, 255, 0)"
                th:text="${data.level}"
              ></label>
            </div>
            <div th:if="${data.level=='Medium'}">
              <label
                style="color: rgba(251, 255, 0, 0.733)"
                th:text="${data.level}"
              ></label>
            </div>
            <div th:if="${data.level=='Hard'}">
              <label
                style="color: rgb(255, 8, 0)"
                th:text="${data.level}"
              ></label>
            </div>
          </div>
          <div class="fif">
            <button type="submit" class="submit-button">Next Question</button>
            <a th:href="@{/powerups(id=${data.id})}" class="submit-button" id="powerups" style="text-decoration: none;"
              >50:50 option</a
            >
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
